{% extends 'base.html.twig' %}

{% block title %}Les clients !{% endblock %}

{% block body %}

    <div class="containers d-flex align-items-center justify-content-center flex-column gap-3 container">
        <div class="d-flex align-items-center justify-content-between container-fluid">
            <h2>Les clients</h2>
            <a href="{{path('admin.products.create')}}" class="btn btn-secondary">Ajouter</a>
        </div>
        <form class="d-flex align-items-center align-self-start flex-row gap-2 container-sm">
            <input style="width:20%;" type="text" value="{{search}}" name="search" id="" placeholder="Rechercher..." class="form-control">
            <input style="width:20%;" type="number" name="" id="" placeholder="Pagination..." class="form-control">
            <button type="submit" class="btn btn-sm btn-primary">Recherhcer</button>
        </form>
        <div class="container">
            {% for type, message in app.flashes %}
                <div class="d-flex align-items-center justify-content-center container alert alert-{{type}}">{{message | join('')}}</div>
            {% endfor %}
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if users is not empty %}
                    {% for user in users %}
                        <tr>
                            <td>
                                {% if user.image is not empty %}
                                    <img src="/image/users/{{user.image}}" style="height:30px;width:30px;border-radius:50%">
                                {% endif %}
                            </td>
                            <td>{{user.id}}</td>
                            <td>{{user.username}}</td>
                            <td class="fw-bolder">{{user.email}}</td>
                            <td>
                                <div class="d-flex gap-1">
                                    <a href="" class="btn btn-sm btn-primary">Voir le profil</a>
                                    <form action="{{path('admin.user.delete', {id: user.id})}}" method="POST">
                                        <input type="hidden" name="_method" value="DELETE" id="">
                                        <input type="submit" class="btn btn-sm btn-danger" value="Supprimer">
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">Pas de clients correspondant</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {{knp_pagination_render(users)}}
    </div>

{% endblock %}
