<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Connexion</title>
     <link rel="stylesheet" href="{{asset('styles/header.css')}}">
     <link rel="stylesheet" href="{{asset('styles/bootstrap.min.css')}}">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <form autocomplete="off" method="post" style="box-shadow:0 0 5px rgba(0,0,0,0.3);width:450px;height:400px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);padding:30px 40px;" class="d-flex align-items-center justify-content-center flex-column gap-2 container-sm">
        {% if error %}
            <div class="alert alert-danger container d-flex align-items-center justify-content-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-5 font-weight-normal">Please sign in</h1>
        <div class="container d-flex align-items-center justify-content-center flex-row gap-1">
            <label style="width:30%;" for="inputEmail">Email</label>
            <input style="width:70%;" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div class="container d-flex align-items-center justify-content-center flex-row gap-1">
            <label style="width:30%;" for="inputPassword">Password</label>
            <input style="width:70%;" type="password" name="password" id="inputPassword" class="mt-1 mb-4 form-control" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
</body>
</html>

