{% extends 'user.html.twig' %}

{% block title %} Nos produits {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{asset('styles/user/index.css')}}">
{% endblock %}

{% block body %}
    <main>
        <h1 class="main-title">Catalogue de Produits</h1>
        <div class="products-grid">
            {% for product in products %}
                <div class="product-card">
                    {% if product.image %}
                        <img src="/image/{{product.image}}" class="product-image">
                    {% endif %}
                    <div class="product-info d-flex align-items-center justify-content-center flex-column">
                        <h2 class="product-title">{{product.name}}</h2>
                        <p class="product-price">{{product.price | number_format(2, ',', ' ')}}</p>
                        <form class="form" action="{{path('panier.add', {id: product.id})}}" method="POST">
                            <input type="submit" value="Ajouter au panier" id="" class="btns">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center d-flex align-items-center justify-content-center container">{{knp_pagination_render(products)}}</div>
    </main>

    {% if app.user %}
        <h3 style="display: none;" class="connected">Bonjour le monde</h3>
    {% endif %}

    <div id="error-message" class="error-container hidden">
        <div class="error-content">
            <h3>Action non autorisée</h3>
            <p>Vous devez être connecté pour effectuer cette action.</p>
            <button id="close-error">Fermer</button>
        </div>
    </div>

    <script src="{{asset('script/user.js')}}"></script>
{% endblock %}
