<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{% block title %}{% endblock %}</title>
     <link rel="stylesheet" href="{{asset('styles/header.css')}}">
     <link rel="stylesheet" href="{{asset('styles/bootstrap.min.css')}}">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
     {% block styles %}{% endblock %}
     <script src="{{asset('script/admin.js')}}" defer></script>
     {% block javascripts %}{% endblock %}
</head>
<body>
     <header>
          <nav>
               <!-- Logo texte -->
               <a href="#" class="navbar-brand">AdminGestion</a>

               <!-- Menu mobile (hamburger) -->
               <div class="hamburger" id="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
               </div>

               {% if is_granted('ROLE_ADMIN') %}
                    <select id="select" style="width:20%" class="form-select">
                         <option {% if 'admin.' in app.current_route %} selected {% endif %} value="/dashboard">Administration</option>
                         <option {% if not 'admin.' in app.current_route %} selected {% endif %} value="/">Utilisateur</option>
                    </select>
               {% endif %}
               

               <!-- Navbar Menu -->
               <ul class="navbar-menu" id="navbarMenu">
                    <li><a href="{{path('admin.dashboard')}}">Dashboard</a></li>
                    <li><a href="{{path('admin.products.index')}}">Produits</a></li>
                    <li><a href="{{path('admin.category.index')}}">Catégories</a></li>
                    <li><a href="{{path('admin.user.index')}}">Clients</a></li>
                    <li>
                         <form action="{{path('app.logout')}}" method="POST">
                              <input type="submit" class="btn btn-danger" value="Déconnexion">
                         </form>
                    </li>
               </ul>
          </nav>
     </header>
     {% block body %}
     {% endblock %}
</body>
</html>