<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{% block title %}{% endblock %}</title>
     <link rel="stylesheet" href="{{asset('styles/user/header.css')}}">
     <link rel="stylesheet" href="{{asset('styles/bootstrap.min.css')}}">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
     {% block styles %}{% endblock %}
</head>
<body>
     <header>
          <nav>
               <!-- Logo texte -->
               <a href="#" class="navbar-brand">E-Commerce</a>

               <!-- Menu mobile (hamburger) -->
               <div class="hamburger" id="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
               </div>

               <!-- Navbar Menu -->
               <ul class="navbar-menu" id="navbarMenu">
                    <li><a href="{{path('user.products')}}">Produits</a></li>
                    <li><a href="{{path('panier.index')}}">Votre panier</a></li>
                    <li><a href="">Profil</a></li>
                    <li><a href="{{path('user.suggestion')}}">Suggestion d'achats</a></li>
                    <li>
                         {% if app.user %}
                              <form action="{{path('app.logout')}}" method="POST">
                                   <input type="submit" class="btn btn-danger" value="Déconnexion">
                              </form>
                         {% else %}
                              <a href="{{path('app.login')}}" class="btn btn-sm btn-primary">Se connecter</a>
                         {% endif %}
                         
                    </li>
               </ul>
          </nav>
     </header>
     {% block body %}
     {% endblock %}
</body>
</html>