{% extends "base.html.twig" %}
{% block title %}Création de nouveau produit{% endblock %}
{% block body %}

     {{form_start(form)}}
          <div class="row">
               <div class="col-sm">
                    {{form_row(form.name)}}
               </div>
               <div class="col-sm">
                    {{form_row(form.price)}}
               </div>
          </div>
          <div class="row">
               <div class="col-sm">
                    {{form_row(form.category)}}
               </div>
               <div class="col-sm">
                    {{form_row(form.image)}}
               </div>
          </div>
     {{form_end(form)}}

{% endblock %}